@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  background-color: #cddbeb;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  width: 300px;
  height: 600px;
  border-radius: 30px;
  background: #e3edf7;
  padding: 20px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
}
h3 {
  font-size: 28px;
  color: #3c4c6b;
  text-align: center;
}
.timer {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid black;
}
